recursive-include src *.py *.glade *.xml *.css
recursive-include data *.desktop *.svg *.png
recursive-include locale *.mo *.po
include AUTHORS
include *.markdown
include example-paperwork.conf
include COPYING
