/* Headerbar */

.left-header-bar {
  border-right-width: 1px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.page-nb-left {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right-width: 0px;
}
.page-nb-center {
  border-radius: 0px;
  border-right-width: 0px;
}
.page-nb-right {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

GtkHeaderBar GtkButton {
  color: black;
}

/* Left Panel */

.box-left {
  border-style: solid;
  border-right-width: 1px;
}

GtkListBox GtkButton {
  padding: 3px;
}

GtkListBox GtkButton {
  border-color: transparent;
  background-color: transparent;
}

GtkListBox GtkButton:hover {
  border-color: transparent;
  background-color: transparent;
}

.list-row {
  border-top: 1px solid @borders;
}

.box-labels .list-row {
  border-left: 1px solid @borders;
  border-right: 1px solid @borders;
}

.box-labels .list-row-last {
  border-bottom: 1px solid @borders;
}

