[Desktop Entry]
Version=1.0
Type=Application
Categories=Graphics;Scanning;
Terminal=false
Comment=Make dead trees grepable
Exec=paperwork
Name=Paperwork
Icon=paperwork
Keywords=document;scanner;ocr;
